<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
        <title>{% if page.title %}{{ page.title }} | {% endif %}de·crypto</title>
        <link rel='icon' href='data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🔐</text></svg>'>
        <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous'>
        <link rel='stylesheet' href='{{ get_url(path='main.css', trailing_slash=false) }}'>
    </head>
    <body>
        <header id='header' class='text-center'>
            <h1>de·crypto</h1>
            <p>decentralized academic research group<br />
               for the political applications of cryptography</p>
            <nav id='header-nav'>
                <ul class='nav justify-content-center'>
                    {% for pg in config.extra.ourpages %}
                    <li class='navitem'>
                        {% if current_path == pg.path %}
                        <strong class='nav-link'>{{ pg.title }}</strong>
                        {% else %}
                        <a class='nav-link' href='/{{ pg.path }}'>{{ pg.title }}</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </nav>
            <!-- <p>
                <a href='' class='btn btn-primary'>Meet the team</a>
            </p> -->
        </header>
        <main class='container'>
            {% block content %}
            <section id='projects' class='card-group text-center'>
                <article class='card'>
                    <div class='card-body'>
                        <h2 class='card-title'><a>Trust is Risk</a></h2>
                        <p class='card-text'>
                            A decentralized financial trust platform
                        </p>
                        <!-- <a href='#' class='btn btn-primary'>Learn more</a> -->
                    </div>
                </article>
                <article class='card'>
                    <div class='card-body'>
                        <h2 class='card-title'><a>mpOTR</a></h2>
                        <p class='card-text'>
                            A group end-to-end encrypted chat
                        </p>
                        <!-- <a href='#' class='btn btn-primary'>Learn more</a> -->
                    </div>
                </article>
                <article class='card'>
                    <div class='card-body'>
                        <h2 class='card-title'><a>Rupture</a></h2>
                        <p class='card-text'>
                            Compression attacks and defences
                        </p>
                        <!-- <a href='#' class='btn btn-primary'>Learn more</a> -->
                    </div>
                </article>
            </section>
            {% endblock content %}
        </main>
        <footer id='footer' class='text-center fixed-bottom'>
            <div class='support'>
                <p>Decrypto is an independent research group focused
                   on blockchain research.<br />We are affiliated with the
                   University of Athens, University of Edinburgh, ETH Zurich,
                   and many other universities around the world.
                </p>
                <!-- <p>We're always looking for new funding partnerships.</p> -->
                <!-- <a href='#' class='btn btn-primary'>Support us</a> -->
            </div>
        </footer>

        <script data-goatcounter="https://decrypto.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
    </body>
</html>
